.checked-list-wrapper {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    color: white;
    width: 100%;
    flex-wrap: wrap;    
}

.checked-popid {
    text-shadow: 0 0 0.3vh #000;
    border: 1px solid white;
    background-color: limegreen;
    width: 100%;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2vh;
    display: flex;
    text-align: center;
    margin-bottom: 2%;    
}